*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    height: 99vh;
}

ul, ol {
    margin-left: 20px;
}

.menu ul {
    list-style: none;
    padding: 0;
}

/* Style menu items */
.menu ul li {
    white-space: nowrap;
    margin-right: 10px;
    display: inline-block;
}

.menu ul li:last-child {
    margin-right: 0;
}

.menu ul li a {
    background-color: #e9d3fc;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 2.5vmin;
    padding: 5px 10px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.menu ul li a:hover {
    background-color: #f2f2f2;
    color: #000;
}

a.current {
    background-color: #555;
    color: #fff;
}
.x{
    font-size: 4vmin;
    box-sizing: border-box;
    width: 40%;
    max-width: 50%;
    text-align: left;
    float: right;
    margin-top: 35px;
    padding: 0 10px;
}
.y{
    font-size: 3vmin;
    width: 37%;
    margin: -9px 10px 0 0;
    text-align: right;
    float: left;
    padding: 0 10px;
}

.block{
    font-family: Calibri, serif;
    padding: 10px;
    font-size: 2vmin;
    height: 100%;
}
.wrapper {
    display: flex;
    height: 78%;
}
.col-right {
    flex-basis: 27%;
}
.col-left {
    flex-basis: 73%;
    display: flex;
    flex-wrap: wrap;
}
.red{
    flex-basis: 35.6%;
    padding: 0;
}
.green {
    display: flex;
    height: 66.7%;
}
.yellow {
    display: flex;
    height: 33.3%;
}

.one{
    background-color: #c4d7ef;
    text-align: left;
    max-height: 23%;
    display: block;
}

.two{
    background-color: #fbe7d7;
    text-align: left;
    max-height: 50%;
    min-width: 35%;
}

.three{
    background-color: #e9d3fc;
    flex-basis: 64.4%;
    max-height: 100%;
}

.img_block{
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    width: auto;
    max-height: 50vmin;
    object-fit: cover;
    border-radius: 10px;
}

.four {
    background-color: #fbe7d7;
    text-align: right;
}


.five{
    background-color: #e8efdb;
    text-align: left;
    max-height: 50%;
    min-width: 35%;
}
.six{
    background-color: #c4d7ef;
    text-align: right;
}

@media (max-width: 768px) {
    .wrapper {
        display: block;
        height: auto;
    }
    .green, .yellow{
        display: block;
    }
    .col-left{
        display: block;
    }
    .block {
        text-align: left;
        width: 100%;
        margin: 0 auto;
        height: auto;
        background-color: transparent;
        font-size: 3vmin;
    }
    .menu ul {
        width: 50%;
        list-style: none;
        display: block;
    }

    .menu ul li {
        margin: 20px;
        display: block;
    }

    .one, .six {
        background-color: #c4d7ef;
        position: static;
        width: 100%;
        height: auto;
    }
    .one, .six{
        background-color: #c4d7ef;
    }
    .two, .four{
        background-color: #fbe7d7;
    }
    .three{
        background-color: #e9d3fc;
    }
    .five{
        background-color: #e8efdb;
    }
}